@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h4>ASP.NET CORE 伪静态</h4>
    <h5>伪静态示例: </h5>
    <div style="text-align: left">
        <ul>
            <li>
                <a asp-controller="Order" asp-action="Index" target="_blank">订单列表-无参</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Index" asp-route-page="1" target="_blank">订单列表-带页码</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Index" asp-route-state="2" target="_blank">订单列表-带状态</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Index" asp-route-state="2" asp-route-page="2" target="_blank">订单列表-带全部参数</a>
            </li>
            <li>
                <a href="/order/index" target="_blank">订单列表-传统方式-无参数</a>
            </li>
            <li>
                <a href="/order/index?state=1&page=2" target="_blank">订单列表-传统方式-带参数</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Info" asp-route-oid="123" target="_blank">订单详情-带标识</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Info" asp-route-oid="1234" asp-route-orderno="X20200108123456" target="_blank">订单详情-带全部参数</a>
            </li>
        </ul>
    </div>
</div>